
<div class="container">
  <div class="row">

    <div class="col-xs-12 text-center">
      <h1>La cocktelerie</h1>
      <p>Our awesome Cocktails</p>
      <%= link_to "Add a new Cocktail",  new_cocktail_path, class: "btn btn-success" %>
    </div>

    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-4">
        <h2><%= cocktail.name %></h2>
        <%= image_tag cocktail.picture.url(:thumb) %>
        <%= link_to "Show Cocktail", cocktail_path(cocktail), class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
