<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <hr>
      <h2>Please enter information of the Cocktail you want to create</h2>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :picture %>
        <%= f.button :submit %>
      <% end %>
      <% cocktail_id = @cocktail.id %>
    </div>
  </div>
</div>
