<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1><%= @cocktail.name %></h1>
      <%= link_to "Back to list", cocktails_path, class: "btn btn-primary" %>
    </div>
  </div>


</div>
