<h3>Add doses to this Cocktail</h3>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: @ingredients , prompt: "Ingredients"  %>
  <%= f.button :submit %>
<% end %>
